In [16]:
import pandas as pd
import numpy as np

In [17]:
df = pd.read_csv("NewData.csv", encoding= "utf-8")

In [18]:
df.head(12)

,Code,Gender,Age,Height,Weight,BMI,Hypertension,SBP,DBP,PR,Drink,Smoke,FPG,AST,ALT,BUN,Scr,TG,TC,Outcome
0,1743,1,79,160,60.0,13.40,1,142,80,86,0,0,4.22,26.2,13.5,6.74,69.6,0.58,6.34,0
1,2100,1,81,153,38.0,16.20,0,132,74,69,0,0,6.27,19.9,16.2,3.70,51.6,0.88,4.96,0
2,3385,1,85,157,40.0,16.23,1,160,90,89,0,0,5.50,14.3,9.3,6.95,98.3,0.94,3.80,0
3,658,1,78,155,40.0,16.65,0,126,74,58,0,0,6.70,17.8,11.3,5.40,68.6,1.82,3.16,1
4,853,0,43,166,46.0,16.70,1,136,84,77,0,0,5.72,25.9,57.9,3.10,56.0,2.74,5.26,0
5,368,0,68,158,43.0,17.20,0,132,78,56,0,0,4.60,66.9,61.5,9.95,140.9,1.31,5.94,0
6,3076,0,76,170,50.0,17.30,1,150,90,70,0,0,4.69,15.1,13.9,7.44,104.4,2.71,5.21,0
7,2909,1,77,157,43.0,17.40,1,138,76,63,0,0,4.97,17.1,8.8,4.62,55.0,1.08,4.47,1
8,609,1,79,160,45.0,17.58,0,130,72,66,0,0,7.78,21.3,19.5,5.92,62.4,3.63,4.40,0
9,1151,1,83,160,45.0,17.60,1,150,90,66,0,0,5.29,20.1,16.2,5.83,91.2,4.07,4.17,0
10,2942,0,69,168,50.0,17.72,0,116,70,55,0,0,5.90,15.7,11.3,8.03,86.6,1.93,4.89,0
11,1706,1,82,150,40.0,17.80,1,138,78,62,0,0,5.02,18.4,10.6,5.42,56.8,1.48,5.00,0

In [19]:
df.columns

Index(['Code', 'Gender', 'Age', 'Height', 'Weight', 'BMI', 'Hypertension',
       'SBP', 'DBP', 'PR', 'Drink', 'Smoke', 'FPG', 'AST', 'ALT', 'BUN', 'Scr',
       'TG', 'TC', 'Outcome'],
      dtype='object')

In [20]:
len(df)

682

In [21]:
df["Gender"].describe()

count    682.00000
mean       0.63783
std        0.48098
min        0.00000
25%        0.00000
50%        1.00000
75%        1.00000
max        1.00000
Name: Gender, dtype: float64

In [22]:
df["Age"].describe()

count    682.000000
mean      66.412023
std       10.061282
min       17.000000
25%       62.000000
50%       67.500000
75%       72.000000
max       91.000000
Name: Age, dtype: float64

In [23]:
df["Height"].describe()

count    682.000000
mean     162.781525
std        7.156777
min      145.000000
25%      158.000000
50%      162.000000
75%      168.000000
max      185.000000
Name: Height, dtype: float64

In [24]:
df["Weight"].describe()

count    682.000000
mean      63.495968
std        9.653883
min       38.000000
25%       58.000000
50%       63.000000
75%       70.000000
max      110.000000
Name: Weight, dtype: float64

In [25]:
df["BMI"].describe()

count    682.000000
mean      23.859106
std        2.902418
min       13.400000
25%       22.000000
50%       23.700000
75%       25.600000
max       34.700000
Name: BMI, dtype: float64

In [26]:
df["Hypertension"].describe()

count    682.000000
mean       0.653959
std        0.476056
min        0.000000
25%        0.000000
50%        1.000000
75%        1.000000
max        1.000000
Name: Hypertension, dtype: float64

In [27]:
df["SBP"].describe()

count    682.000000
mean     139.595308
std       15.607724
min      100.000000
25%      130.000000
50%      136.000000
75%      150.000000
max      190.000000
Name: SBP, dtype: float64

In [28]:
df["DBP"].describe()

count    682.000000
mean      83.341642
std        9.043166
min       62.000000
25%       78.000000
50%       82.000000
75%       90.000000
max      135.000000
Name: DBP, dtype: float64

In [29]:
df["PR"].describe()

count    682.000000
mean      67.900293
std        9.212870
min       20.000000
25%       62.000000
50%       68.000000
75%       73.000000
max      106.000000
Name: PR, dtype: float64

In [30]:
df["Drink"].describe()

count    682.000000
mean       0.027859
std        0.164690
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000
Name: Drink, dtype: float64

In [31]:
df["Smoke"].describe()

count    682.000000
mean       0.021994
std        0.146772
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000
Name: Smoke, dtype: float64

In [32]:
df["FPG"].describe()

count    682.000000
mean       6.050762
std        1.563503
min        2.400000
25%        5.192500
50%        5.705000
75%        6.300000
max       18.800000
Name: FPG, dtype: float64

In [33]:
df["AST"].describe()

count    682.000000
mean      21.901510
std       11.339964
min        1.400000
25%       16.800000
50%       20.000000
75%       24.075000
max      172.800000
Name: AST, dtype: float64

In [34]:
df["ALT"].describe()

count    682.000000
mean      21.373754
std       16.113156
min        4.300000
25%       13.900000
50%       18.200000
75%       25.000000
max      262.000000
Name: ALT, dtype: float64

In [35]:
df["BUN"].describe()

count    682.000000
mean       5.828021
std        2.799483
min        0.570000
25%        4.720000
50%        5.525000
75%        6.520000
max       61.800000
Name: BUN, dtype: float64

In [36]:
df["Scr"].describe()

count    682.000000
mean      67.579135
std       30.909277
min        5.850000
25%       54.700000
50%       63.100000
75%       74.175000
max      682.500000
Name: Scr, dtype: float64

In [37]:
df["TG"].describe()

count    682.000000
mean       1.676041
std        1.224666
min        0.320000
25%        0.940000
50%        1.330000
75%        1.960000
max       10.990000
Name: TG, dtype: float64

In [39]:
df.head(10)

,Code,Gender,Age,Height,Weight,BMI,Hypertension,SBP,DBP,PR,Drink,Smoke,FPG,AST,ALT,BUN,Scr,TG,TC,Outcome
0,1743,1,79,160,60.0,13.40,1,142,80,86,0,0,4.22,26.2,13.5,6.74,69.6,0.58,6.34,0
1,2100,1,81,153,38.0,16.20,0,132,74,69,0,0,6.27,19.9,16.2,3.70,51.6,0.88,4.96,0
2,3385,1,85,157,40.0,16.23,1,160,90,89,0,0,5.50,14.3,9.3,6.95,98.3,0.94,3.80,0
3,658,1,78,155,40.0,16.65,0,126,74,58,0,0,6.70,17.8,11.3,5.40,68.6,1.82,3.16,1
4,853,0,43,166,46.0,16.70,1,136,84,77,0,0,5.72,25.9,57.9,3.10,56.0,2.74,5.26,0
5,368,0,68,158,43.0,17.20,0,132,78,56,0,0,4.60,66.9,61.5,9.95,140.9,1.31,5.94,0
6,3076,0,76,170,50.0,17.30,1,150,90,70,0,0,4.69,15.1,13.9,7.44,104.4,2.71,5.21,0
7,2909,1,77,157,43.0,17.40,1,138,76,63,0,0,4.97,17.1,8.8,4.62,55.0,1.08,4.47,1
8,609,1,79,160,45.0,17.58,0,130,72,66,0,0,7.78,21.3,19.5,5.92,62.4,3.63,4.40,0
9,1151,1,83,160,45.0,17.60,1,150,90,66,0,0,5.29,20.1,16.2,5.83,91.2,4.07,4.17,0

In [40]:
df.head(10)

,Code,Gender,Age,Height,Weight,BMI,Hypertension,SBP,DBP,PR,Drink,Smoke,FPG,AST,ALT,BUN,Scr,TG,TC,Outcome
0,1743,1,79,160,60.0,13.40,1,142,80,86,0,0,4.22,26.2,13.5,6.74,69.6,0.58,6.34,0
1,2100,1,81,153,38.0,16.20,0,132,74,69,0,0,6.27,19.9,16.2,3.70,51.6,0.88,4.96,0
2,3385,1,85,157,40.0,16.23,1,160,90,89,0,0,5.50,14.3,9.3,6.95,98.3,0.94,3.80,0
3,658,1,78,155,40.0,16.65,0,126,74,58,0,0,6.70,17.8,11.3,5.40,68.6,1.82,3.16,1
4,853,0,43,166,46.0,16.70,1,136,84,77,0,0,5.72,25.9,57.9,3.10,56.0,2.74,5.26,0
5,368,0,68,158,43.0,17.20,0,132,78,56,0,0,4.60,66.9,61.5,9.95,140.9,1.31,5.94,0
6,3076,0,76,170,50.0,17.30,1,150,90,70,0,0,4.69,15.1,13.9,7.44,104.4,2.71,5.21,0
7,2909,1,77,157,43.0,17.40,1,138,76,63,0,0,4.97,17.1,8.8,4.62,55.0,1.08,4.47,1
8,609,1,79,160,45.0,17.58,0,130,72,66,0,0,7.78,21.3,19.5,5.92,62.4,3.63,4.40,0
9,1151,1,83,160,45.0,17.60,1,150,90,66,0,0,5.29,20.1,16.2,5.83,91.2,4.07,4.17,0

In [41]:
df.head(10)

,Code,Gender,Age,Height,Weight,BMI,Hypertension,SBP,DBP,PR,Drink,Smoke,FPG,AST,ALT,BUN,Scr,TG,TC,Outcome
0,1743,1,79,160,60.0,13.40,1,142,80,86,0,0,4.22,26.2,13.5,6.74,69.6,0.58,6.34,0
1,2100,1,81,153,38.0,16.20,0,132,74,69,0,0,6.27,19.9,16.2,3.70,51.6,0.88,4.96,0
2,3385,1,85,157,40.0,16.23,1,160,90,89,0,0,5.50,14.3,9.3,6.95,98.3,0.94,3.80,0
3,658,1,78,155,40.0,16.65,0,126,74,58,0,0,6.70,17.8,11.3,5.40,68.6,1.82,3.16,1
4,853,0,43,166,46.0,16.70,1,136,84,77,0,0,5.72,25.9,57.9,3.10,56.0,2.74,5.26,0
5,368,0,68,158,43.0,17.20,0,132,78,56,0,0,4.60,66.9,61.5,9.95,140.9,1.31,5.94,0
6,3076,0,76,170,50.0,17.30,1,150,90,70,0,0,4.69,15.1,13.9,7.44,104.4,2.71,5.21,0
7,2909,1,77,157,43.0,17.40,1,138,76,63,0,0,4.97,17.1,8.8,4.62,55.0,1.08,4.47,1
8,609,1,79,160,45.0,17.58,0,130,72,66,0,0,7.78,21.3,19.5,5.92,62.4,3.63,4.40,0
9,1151,1,83,160,45.0,17.60,1,150,90,66,0,0,5.29,20.1,16.2,5.83,91.2,4.07,4.17,0

In [42]:
df["Outcome"].describe()

count    682.000000
mean       0.260997
std        0.439501
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000
Name: Outcome, dtype: float64

In [57]:
from sklearn.model_selection import cross_val_score, ShuffleSplit
from sklearn.datasets import load_boston
from sklearn.ensemble import RandomForestRegressor

Y = df["Outcome"].values
X = df[['Gender', 'Age', 'Height', 'Weight', 'BMI', 'Hypertension',
       'SBP', 'DBP', 'PR', 'Drink', 'Smoke', 'FPG', 'AST', 'ALT', 'BUN', 'Scr',
       'TG', 'TC']].values
names = ['Gender', 'Age', 'Height', 'Weight', 'BMI', 'Hypertension',
       'SBP', 'DBP', 'PR', 'Drink', 'Smoke', 'FPG', 'AST', 'ALT', 'BUN', 'Scr',
       'TG', 'TC']

#
#boston = load_boston()
#X = ["data"]
#Y = boston["target"]
#names = boston["feature_names"]

#n_estimatorsmax_depth
#rf = RandomForestRegressor(n_estimators=20, max_depth=4)
scores = []
#for i in range(X.shape[1]):
    #7:3
    #ShuffleSplit()test
#    score = cross_val_score(rf, X[:, i:i+1], Y, scoring="r2",
#                               cv=ShuffleSplit(len(X), 3, .3))
#    scores.append((round(np.mean(score), 3), names[i]))


#
#print(sorted(scores, reverse=True))



from sklearn.feature_selection import SelectFromModel
from sklearn.ensemble import GradientBoostingClassifier

#GBDT
m = GradientBoostingClassifier()
selector = SelectFromModel(m,max_features = 6, threshold=0.02).fit(X, Y)

print(selector.get_support())
print(df.columns[1:len(df.columns)-1].values)
m.fit(X, Y)
print(m.feature_importances_)
print()
print(df.columns[1:len(df.columns)-1][selector.get_support()].values)
print(m.feature_importances_[:len(df.columns)-1][selector.get_support()])

[False  True False False  True False False  True  True False False  True
 False  True False False False False]
['Gender' 'Age' 'Height' 'Weight' 'BMI' 'Hypertension' 'SBP' 'DBP' 'PR'
 'Drink' 'Smoke' 'FPG' 'AST' 'ALT' 'BUN' 'Scr' 'TG' 'TC']
[0.         0.02985122 0.01498436 0.01857486 0.04004172 0.00073334
 0.0245549  0.03013335 0.02674306 0.00202261 0.00257303 0.66571974
 0.01462685 0.04715792 0.02687093 0.01057537 0.02608235 0.0187544 ]

['Age' 'BMI' 'DBP' 'PR' 'FPG' 'ALT']
[0.02985122 0.04004172 0.03013335 0.02674306 0.66571974 0.04715792]

In [56]:
#
m = RandomForestRegressor(n_estimators = 20, max_depth = 4)
selector = SelectFromModel(m,max_features = 6,threshold= 0.02).fit(X, Y)

print(selector.get_support())
print(df.columns[1:len(df.columns)-1].values)
m.fit(X, Y)
print(m.feature_importances_)
print()
print(df.columns[1:len(df.columns)-1][selector.get_support()].values)
print(m.feature_importances_[:len(df.columns)-1][selector.get_support()])

[False False False False  True False False  True False False False  True
 False  True False False  True False]
['Gender' 'Age' 'Height' 'Weight' 'BMI' 'Hypertension' 'SBP' 'DBP' 'PR'
 'Drink' 'Smoke' 'FPG' 'AST' 'ALT' 'BUN' 'Scr' 'TG' 'TC']
[0.         0.00864411 0.01943179 0.012376   0.01838225 0.00081162
 0.00909623 0.02987262 0.03159859 0.00309773 0.         0.78667103
 0.0089384  0.01343401 0.0070285  0.01044673 0.02276016 0.01741025]

['BMI' 'DBP' 'FPG' 'ALT' 'TG']
[0.01838225 0.02987262 0.78667103 0.01343401 0.02276016]