In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("../NewData.csv")#.drop(columns = ['Unnamed: 19']).dropna(axis = 0)

In [4]:
df.head(10)

,Gender,Age,Height,Weight,BMI,Hypertension,SBP,DBP,PR,Drink,Smoke,FPG,AST,ALT,BUN,Scr,TG,TC,Outcome
0,1,79,160,60.0,13.40,1,142,80,86,0,0,4.22,26.2,13.5,6.74,69.6,0.58,6.34,0
1,1,81,153,38.0,16.20,0,132,74,69,0,0,6.27,19.9,16.2,3.70,51.6,0.88,4.96,0
2,1,85,157,40.0,16.23,1,160,90,89,0,0,5.50,14.3,9.3,6.95,98.3,0.94,3.80,0
3,1,78,155,40.0,16.65,0,126,74,58,0,0,6.70,17.8,11.3,5.40,68.6,1.82,3.16,1
4,0,43,166,46.0,16.70,1,136,84,77,0,0,5.72,25.9,57.9,3.10,56.0,2.74,5.26,0
5,0,68,158,43.0,17.20,0,132,78,56,0,0,4.60,66.9,61.5,9.95,140.9,1.31,5.94,0
6,0,76,170,50.0,17.30,1,150,90,70,0,0,4.69,15.1,13.9,7.44,104.4,2.71,5.21,0
7,1,77,157,43.0,17.40,1,138,76,63,0,0,4.97,17.1,8.8,4.62,55.0,1.08,4.47,1
8,1,79,160,45.0,17.58,0,130,72,66,0,0,7.78,21.3,19.5,5.92,62.4,3.63,4.40,0
9,1,83,160,45.0,17.60,1,150,90,66,0,0,5.29,20.1,16.2,5.83,91.2,4.07,4.17,0

In [5]:
df.columns

Index(['Gender', 'Age', 'Height', 'Weight', 'BMI', 'Hypertension', 'SBP',
       'DBP', 'PR', 'Drink', 'Smoke', 'FPG', 'AST', 'ALT', 'BUN', 'Scr', 'TG',
       'TC', 'Outcome'],
      dtype='object')

In [6]:
df.describe()

,Gender,Age,Height,Weight,BMI,Hypertension,SBP,DBP,PR,Drink,Smoke,FPG,AST,ALT,BUN,Scr,TG,TC,Outcome
count,682.00000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000,682.000000
mean,0.63783,66.412023,162.781525,63.495968,23.859106,0.653959,139.595308,83.341642,67.900293,0.027859,0.021994,6.050762,21.901510,21.373754,5.828021,67.579135,1.676041,5.070367,0.260997
std,0.48098,10.061282,7.156777,9.653883,2.902418,0.476056,15.607724,9.043166,9.212870,0.164690,0.146772,1.563503,11.339964,16.113156,2.799483,30.909277,1.224666,5.131881,0.439501
min,0.00000,17.000000,145.000000,38.000000,13.400000,0.000000,100.000000,62.000000,20.000000,0.000000,0.000000,2.400000,1.400000,4.300000,0.570000,5.850000,0.320000,1.920000,0.000000
25%,0.00000,62.000000,158.000000,58.000000,22.000000,0.000000,130.000000,78.000000,62.000000,0.000000,0.000000,5.192500,16.800000,13.900000,4.720000,54.700000,0.940000,4.210000,0.000000
50%,1.00000,67.500000,162.000000,63.000000,23.700000,1.000000,136.000000,82.000000,68.000000,0.000000,0.000000,5.705000,20.000000,18.200000,5.525000,63.100000,1.330000,4.850000,0.000000
75%,1.00000,72.000000,168.000000,70.000000,25.600000,1.000000,150.000000,90.000000,73.000000,0.000000,0.000000,6.300000,24.075000,25.000000,6.520000,74.175000,1.960000,5.490000,1.000000
max,1.00000,91.000000,185.000000,110.000000,34.700000,1.000000,190.000000,135.000000,106.000000,1.000000,1.000000,18.800000,172.800000,262.000000,61.800000,682.500000,10.990000,136.400000,1.000000